@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url(Reset.css);        
@import url(menu-bar.css);     
@import url(Header.css);      
@import url(Main.css);         
@import url(Footer.css);       
@import url(Cart.css);